$content-width: 1000px;

header {
  $_navLinkSize: 1.5rem;
  height: calc($_navLinkSize * 3);
  border-bottom: 1px solid gray;
  display: grid;
  justify-items: center;

  > nav {
    width: min(100%, calc($content-width * 1.5));
    display: flex;
    justify-content: end;
    column-gap: 1em;
    align-items: center;
    padding-inline: 2em;

    .nav-link {
      font-size: $_navLinkSize;
      text-decoration: none;
      color: #5b5b66;
      position: relative;
      &.active::after {
        width: 100%;
      }

      &:hover::after {
        width: 100%;
      }
      &::after {
        content: "";
        transition: width 250ms;
        position: absolute;
        background-color: rgb(122, 100, 247);
        height: 2px;
        width: 0%;
        bottom: 0;
        left: 0%;
      }
    }
  }
}

.body {
  min-height: 100vh;
  display:flex; 
  flex-direction:column;
}


.main {
  display: flex;
  justify-content: center;
  margin-inline: 1em;
  flex: 1;
}

code {
  border: 1px solid gainsboro;
  border-radius: 2px;
}

.content {
  width: min(100%, $content-width);
}


.page-selector {
  margin-block: 1em;

  //Cool bottom curve :)
  display: inline-flex;
  border-bottom: 3px solid #bbb;
  border-radius: 50%;
  padding-bottom: 5px;

  .current {
    outline: 1px solid #5b5b66;
    border-radius: 50%;
  }
  a,span {
    color: unset; //TODO: Add custom default text color
    padding-inline: .62em;
    padding-block: .25em;
    text-decoration: none;
    cursor: pointer;
    
    &:hover:not(.disabled) {
      outline: 1px solid #a6a6a6;
      border-radius: 50%;
    }
    &.disabled {
      cursor: default;
    }
    &.current {
      cursor: default;
    }
  }
}