.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  line-height: 1.5em;
}
.h1 {
  font-size: 2rem;
}
.h2 {
  font-size: 1.5rem;
}
.h3 {
  font-size: 1.25rem;
}
.h4 {
  font-size: 1rem;
}
.h5 {
  font-size: .85rem;
}
.h6 {
  font-size: .65rem;
}
.h1 {
  margin-block: 2rem;
}
.h2 {
  margin-block: 1.5rem;
}
.h3,
.h4,
.h5,
.h6 {
  margin-block: 1rem 1rem;
}
.p {
  margin-bottom: 0.75rem;
}

a.action {
  color: unset;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &::after {
    $_height: 1em;
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" /></svg>');
    height: $_height;
    width: $_height;
    display: inline-flex;
    position: relative;
    top: calc($_height / 4);
    margin-inline-start: .25em;
  }
}