@use "/styles/breakpoints";

.cd-collection {
  &--list {
    list-style: none;
  }
  &--artist {
    margin-bottom: 0.5em;
  }
  &--album {
    list-style: none;
  }
}

/* .cd-collection--list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoints.small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7em;
    row-gap: 10em;
    align-items: baseline;
  }

  .cd-collection--item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include breakpoints.medium {
      flex-direction: row;
    }
  }
}

.album-cover {
  width: 250px;
  max-width: 250px;
  min-height: 200px;
  object-fit: contain;
  background-color: #80808060;

  &.shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 5px;
  }
}
 */
