$content-width: 1000px;

header {
  $_navLinkSize: 1.5rem;
  height: calc($_navLinkSize * 3);
  border-bottom: 1px solid gray;
  display: grid;
  justify-items: center;

  >nav {
    width: min(100%, calc($content-width * 1.5));
    display: flex;
    justify-content: end;
    align-items: center;
    padding-inline: 2em;

    .nav-link {
      overflow: hidden;
      padding-inline: .25em;
      font-size: $_navLinkSize;
      text-decoration: none;
      color: #5b5b66;
      position: relative;

      //Set underline when link is active and subsequent sibling links do not have hover
      &.active:not(:has(~:hover))::after {
        scale: 1 1;
      }

      //Hide underline from active when hovering on preceding links
      &:hover~.active::after {
        scale: 0 1;
      }


      //Underline animation by Kevin Powell https://www.youtube.com/watch?v=G_h2pGZcOzc
      &:hover {
        --_width: 1
      }

      &:hover+a {
        --_translate: -100%;
        --_scale-delay: 300ms;
        --_translate-delay: 50ms;
      }

      &:has(+:hover) {
        --_translate: 100%;
        --_scale-delay: 300ms;
        --_translate-delay: 50ms;
      }

      &::after {
        content: "";
        transition:
          scale 300ms var(--_scale-delay, 0ms),
          translate 500ms var(--_translate-delay, 0ms);
        translate: var(--_translate, 0);

        position: absolute;
        background-color: rgb(122, 100, 247);
        height: 2px;
        scale: var(--_width, 0) 1;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.main {
  display: flex;
  justify-content: center;
  margin-inline: 1em;
  flex: 1;
}

code {
  border: 1px solid gainsboro;
  border-radius: 2px;
}

.content {
  width: min(100%, $content-width);
}