---
layout: layouts/root.njk
title: Teemu Kurki - CD Kokoelma
---

<div class="content">
  <h1>CD Kokoelma</h1>
  <p>Musiikkikokoelma ja albumien tiedot haetaan <a href="https://musicbrainz.org/" target="_blank" rel="noopener noreferrer">MusicBrainz</a> palvelusta.</p>
  <p>Albumien kansikuvat haetaan <a href="https://coverartarchive.org/" target="_blank" rel="noopener noreferrer" >Cover Art Archive</a> palvelusta.</p>
  <div class="cd-collection--list">
    {% for album in albums %}
    <section class="cd-collection--item" >
      <div>
        <h2>{{ album.artist }}</h2>
        <p>{{ album.title }}</p>
      </div>
      <a target="_blank" href="https://musicbrainz.org/release/{{album.id}}" rel="noopener noreferrer">
        <img
        class="album-cover shadow"
        loading="lazy"
        src="{{ album.img }}"
        alt="{{ album.artist }} - {{ album.title }}"
        onerror='this.onerror = null; this.src="{{ album.altImg }}" '
        />
      </a>
    </section>
    {% endfor %}
  </div>
</div>
