---
layout: layouts/root.njk
title: Teemu Kurki
---

<article class="content" >
  <h1>Hei, olen Teemu mukava tutustua.</h1>
  <p>Lue mitä olen duunaillut viime aikoina <a href="/blog">blogistani</a></p>
  <p>Jos kiinnostaa voit lukea sivuston lähdekoodin <a href="https://github.com/teemukurki/teemukurki.com" rel="noopener noreferrer" target="_blank">GitHubista</a></p>
</article>