
<article class="card blog-card" >
  <img alt="{{blog.title}} image" src={{blog.image + "?w=256"}} />
  <a href={{blog.url}} class="h3 title action">{{blog.title}}</a>
  <p class="lead-text">{{blog.leadText}}</p>
</article>  