
<article class="card blog-card" >
  <img src={{blog.image.file.url + "?w=256"}} />
  <a href={{blog.url}} class="h3 title action">{{blog.title}}</a>
  <p class="lead-text">{{blog.leadText}}</p>
</article>  