
<article class="card blog-card" >
  <img src={{blog.image.file.url + "?w=200"}} />
  <h3 class="title">{{blog.title}}</h3>
  <p class="lead-text">{{blog.leadText}}</p>
  <a class="blog-link" href={{blog.url}}>Lue täältä</a>
</article>  