<nav class="page-selector">
  {% if currentPage > 1 %}
    <a href="/collection/{{ currentPage - 1 }}" class="prev"><</a>
  {% else %}
    <span class="disabled"><</span>
  {% endif %} 
  {% for item in allPages %}
    {% if loop.index === currentPage  %}
    <span class="current disabled">{{ loop.index }}</span>

    {% else %}
    <a href="/collection/{{ loop.index }}" >{{ loop.index }}</a>
        
    {% endif %}
  {% endfor %} 
  {% if currentPage < allPages.length %}
    <a href="/collection/{{ currentPage + 1 }}" class="next">></a>
  {% else %}
    <span class="disabled">></span>
  {% endif %}
</nav>
